


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans:wght@300&display=swap');



.root{

--body-color: #000;
--input-color: #bdc3c7;
--border-color: #dcdde1;
--light-color: #fff;
--btn-bg-hover-color: #e21e22;



--body-font: 'Josefin Sans', sans-serif;
--normal-font-size: 1.2rem;
--smal-font-size: 1rem;

}



*, ::before, ::after {
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--body-color);
    font-size: var(--normal-font-size);
    font-weight: normal;
}




.login-main{
    width: 100%;
    min-height: 100vh;
    background: url(/img/bg.jpg) no-repeat center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.login-form {
    
    max-width: 520px;
    margin: 0 auto;
    background: var(--light-color);
    padding:  60px 30px;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0,0,0,0.5);
    position: relative;
}

.login-form::after{
    content: '';
    width: 195px;
    height: 50px;
    background: url(/img/after.png) no-repeat right top / cover;
    position: absolute;
    top: 0;
    right: 0;
}

.login-form::before{
    content: '';
    width: 195px;
    height: 50px;
    background: url(/img/before.png) no-repeat left bottom / cover;
    position: absolute;
    bottom: 0;
    left: 0;
}


.login-form .logo img {
    height: 80px;
    margin-bottom: 20px;
}

.login-form h3 {
    text-transform: capitalize;
    margin: 0 0 30px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
    height: 55px;
}

.form-group .form-control {
    position: absolute;
    outline: 0;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem;
    background: none;
    z-index: 1;
    font-size: var(--normal-font-size);
}

.form-group .form-control:focus {
    box-shadow: none;
    border-color: var(--body-color);
    
}

.form-group .form-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    transition: .3s;
    color: var(--input-color);
    background: var(--light-color);
    padding: 0 .25rem;
}


.form-control:focus + .form-label, .form-control:not(:placeholder-shown).form-control:not(:focus)+.form-label {

    top: -.6rem;
    left: .8rem;
    z-index: 10;
    font-size: var(--smal-font-size);
    color: var(--body-color);
}


.btn-theme{

    background-color: #000;
    color: lightcyan;
}

.btn-theme:hover{
    color: var(--light-color);
    background-color: red;
}